.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 60px;
    margin-right: 10px;
}

.brand-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
}